---
import Section from "./Section.astro"
---

<Section
  title="Bienvenido a Intelli-Fridge!"
  subtitle="Moderniza la forma en la que interactúas con tu refrigerador."
  color="black"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="Registerwrapper"
    >
      Registrarse
    </a>
  </div>

  <div slot="background" class="relative">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/banner.mp4"
    ></video>
    <div class="absolute inset-0 bg-gray-200 opacity-30"></div>
  </div>
</Section>
