<!-- src/layouts/BaseLayout.astro -->
---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <!-- Agrega tus estilos aquí -->
</head>
<body>
  <header>
    <!-- Header content here -->
  </header>
  <main>
    <slot /> <!-- Aquí se renderiza el contenido del componente hijo -->
  </main>
  <footer>
    <!-- Footer content here -->
  </footer>
</body>
</html>
